.container {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "navbar"
        "main-content"
        "footer";
}

.conversations-drawer {
    display: none;
}

.navbar {
    grid-area: navbar;
}

.footer {
    grid-area: footer;
    margin-top: 5px;
}

@media (max-width: 650px) {
    .footer {
        margin-top: 1px;
    }
}

.sign-in-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.sign-up-content {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.chat-container {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: minmax(200px, 0.5fr) minmax(200px, 0.5fr);
    grid-template-areas:
    "private-conversations-list chat-window"
    "group-conversations-list chat-window";
}

.chat-container-no-lists {
    grid-area: main-content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "chat-window";
}

.private-conversations-list {
    grid-area: private-conversations-list;
    margin: 4px 2px 0px 4px;
}

.group-conversations-list {
    grid-area: group-conversations-list;
    margin: 4px 2px 0px 4px;
}

.chat-window {
    grid-area: chat-window;
    margin: 4px 4px 0px 2px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "messages-header"
        "messages-box"
        "messages-input";
}

.messages-header {
    grid-area: messages-header;
}

.messages-box {
    grid-area: messages-box;
    /* height: 100%; */
}

.messages-input {
    grid-area: messages-input;
}

@media (max-width: 1450px) {
    .chat-container {
        grid-template-columns: 18% 82%;
    }
}

@media (max-width: 1250px) {
    .chat-container {
        grid-template-columns: 22% 78%;
    }
}

@media (max-width: 1050px) {
    .chat-container {
        grid-template-columns: 25% 75%;
    }
}

@media (max-width: 950px) {
    .chat-container {
        grid-template-columns: 30% 70%;
    }
}

@media (max-width: 800px) {
    .chat-container {
        grid-template-columns: 35% 65%;
    }
}

@media (max-width: 700px) {
    .chat-container {
        grid-template-columns: 38% 62%;
    }
}

@media (max-width: 600px) {
    .chat-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "chat-window"
            "chat-window";
    }
    .sm-hide {
        display: none;
    }
    .chat-window {
        margin: 4px;
    }
    .conversations-drawer {
        display: block;
    }
    .container {
        grid-template-areas: 
            "navbar"
            "main-content"
    }
    .footer {
        display: none;
    }
}