.error {
    text-align: center;
    font-size: 18px;
    color: #e53935;
}

.hidden {
    font-size: 18px;
    visibility: hidden;
}

.sign-in-container {
    /* margin-top: 12px;
    margin-bottom: 15px; */
    text-align: center;
}

.upper {
    background-color: #3949ab;
    padding: 10px;
    color: var(--secondary-text);
    text-align: right;
}

.lower {
    background-color: #3949ab;
    padding: 5px;
    opacity: 0.7;
}